table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;
}

thead {
  display: table-header-group;
  vertical-align: middle;
}

tr {
  display: table-row;
  vertical-align: inherit;
  background-color: inherit;
}

table .table-header {
  background-color: DodgerBlue;
  color: #fff;
}

.table-header th {
  padding: 3px;
}

table .content:hover {
  cursor: pointer;
  background-color: bisque;
}

