.container .prev-icon::before {
  content: "◄"
}

.container .next-icon::after {
  content: "►"
}

.container ul.page-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  background-color:  rgb(21, 4, 173); 
  flex-direction: row;
  border-radius: 0 0 5px 5px;
}

.container ul.page-list > li {
  margin-left: 5px;
  display: flex;
  padding: 3px 0;
}

.container ul.page-list > li:last-child{
  margin-right: 0;
}

.container a {
  text-decoration: none;
  font-size: 15px;
  padding: 15px;
  color: rgb(180, 172, 216);
  border: 1px solid white;
  background-color: rgb(21, 4, 173);
  font-weight: bold;
  border-radius: 5px;
}

.container a.active, .container a.active:hover {
  box-shadow: 0 0 10px 4px yellow;
  color: rgb(216, 216, 113);
  cursor: default;
}

.container a:hover {
  box-shadow: 0 0 5px 3px white;
  color: white;
}

.container a.disabled {
  border: none;
  color: rgb(35, 27, 73);
  cursor: default;
}

.container a.disabled:hover {
  border: none;
  color: rgb(35, 27, 73);
  box-shadow: none;
}