@import '../../styles/fonts.css';


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container h1 {
  font-family: 'sega_logo_fontregular';
  font-size: 64px;
  margin-bottom: 15px;
  color: blue;
  display: block;
}

.container .search-field {
  width: 50%;
}